@charset "UTF-8";
/** Página del index **/ /** aca comienza la nav**/
.contenedorHeader {
  display: grid;
  grid-template-areas: "itemNav1 itemNav2";
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  position: sticky;
  top: 0;
}
.contenedorHeader .logo1 {
  width: 100px;
  height: 100px;
  margin: 0px 0px 0px 30px;
  display: flex;
}
.contenedorHeader .itemNav1 {
  grid-area: itemNav1;
}
.contenedorHeader .itemNav2 {
  grid-area: itemNav2;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: aliceblue;
}

/** aca comienza la nav
.contenedorHeader {
  display: grid;
  grid-template-areas: "itemNav1 itemNav2";
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  position: sticky;
  top: 0;

  .logo1 {
    width: 100px;
    height: 100px;
    margin: 0px 0px 0px 30px;
    display: flex;
  }

  .itemNav1 {
    grid-area: itemNav1;
  }

  .itemNav2 {
    grid-area: itemNav2;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-content: center;
  }
}

@media screen and (max-width: 768px) {
  .contenedorHeader {
    display: grid;
    grid-template-areas:
      "itemNav1"
      "itemNav2";
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
    position: sticky;
    top: 0;
  }

  .itemNav1 {
    grid-area: itemNav1;
    display: flex;
    justify-content: center;
  }

  .logo1 {
    margin: 0px;
  }

  .itemNav2 {
    grid-area: itemNav2;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    height: 50px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
  }
}
**/
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 70%;
}
nav ul li {
  color: #ffffff;
}
nav ul li a:hover {
  color: darkmagenta;
}

/**contenedor grid 1**/
.grid1 {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "item1 item2" "item item2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 163px 1fr;
  align-items: center;
  justify-items: center;
}
.grid1 .item1 {
  grid-area: item1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.grid1 .item {
  grid-area: item;
}
.grid1 .item .parrafoSobremi {
  padding: 30px;
  line-height: 1.6rem;
}
.grid1 .item2 {
  display: flex;
  grid-area: item2;
  justify-content: center;
}
.grid1 .item2 .miFoto {
  border-radius: 20px;
  width: 380px;
}

/** esta es la queries del grid1**/
@media screen and (max-width: 768px) {
  .grid1 {
    grid-template-areas: "item1" "item" "item2";
    grid-template-columns: 80%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 450px) {
  .grid1 {
    grid-template-areas: "item1" "item" "item2";
  }
  .grid1 .parrafoSobremi {
    font-size: 15px;
  }
}
/**contenedor grid 2**/
.grid2 {
  min-height: 100vh;
  grid-template-areas: "itemdelSubtitulo1" "contenedor1Flex";
  display: grid;
  align-items: center;
  justify-items: center;
}
.grid2 .itemdelSubtitulo1 {
  grid-area: itemdelSubtitulo1;
  font-size: 50px;
}

.contenedor1Flex {
  grid-area: contenedor1Flex;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.itemdelSubtitulo2 {
  grid-area: itemdelSubtitulo2;
  font-size: 50px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.tituloPrincipal {
  text-align: center;
  font-size: 40px;
}

.subTituloprincipal {
  text-align: center;
}

.subEncabezados {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
}

.caja1,
.caja2,
.caja3 {
  width: 350px;
  height: 350px;
  background-color: #000000;
  margin: 33px;
  padding: 30px;
  border: 1px solid rgb(0, 0, 0);
  line-height: 1.6rem;
  box-shadow: rgba(67, 63, 66, 0.773) 0px 5px 15px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.caja1,
.caja2,
.caja3,
p {
  text-align: center;
}

.boton__cajas {
  color: #ffffff;
  padding: 10px;
  margin: 5px;
  background-color: #453f3f;
  border: 2px solid rgba(88, 79, 86, 0.77);
  width: 150px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 17px;
}

.caja1 img {
  width: 150px;
  height: 150px;
}

.caja2 img {
  width: 150px;
  height: 150px;
}

.caja3 img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 768px) {
  .caja1,
  .caja2,
  .caja3 {
    background-color: #000000;
    margin: 25px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    line-height: 1.6rem;
    box-shadow: rgba(67, 63, 66, 0.773) 0px 5px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .caja1,
  .caja2,
  .caja3 {
    background-color: #000000;
    border: 1px solid rgb(0, 0, 0);
    line-height: 1.6rem;
    box-shadow: rgba(67, 63, 66, 0.773) 0px 5px 15px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .caja1 p,
  .caja2 p,
  .caja3 p {
    font-size: 15px;
    padding: 5px;
  }
  .boton__cajas {
    color: #f8f9fa;
    padding: 10px;
    margin: 5px;
    background-color: #453f3f;
    border: 2px solid rgba(88, 79, 86, 0.77);
    font-weight: bold;
    font-size: 15px;
    border-radius: 16px;
  }
}
/**aca comienzan los estilos del formulario**/
.contenedor2Flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.titulodeContacto {
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

div ul li {
  padding: 10px;
  font-weight: bold;
}

fieldset {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  flex-direction: column;
  background-color: #000000;
  margin: 30px;
  border: 2px solid rgb(0, 0, 0);
}

.formulario1 {
  width: 431px;
}

.cajadelFormulario {
  width: 300px;
  height: 32px;
  border-radius: 18px;
}

.nombresdelFormulario {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
}

.cajadeComentario {
  height: 104px;
  width: 300px;
  border-radius: 32px;
}

.boton {
  color: #ffffff;
  padding: 10px;
  margin: 5px;
  background-color: #453f3f;
  border: 2px solid rgba(88, 79, 86, 0.77);
  width: 124px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 17px;
}

.boton:hover {
  background-color: #991d50;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .contenedor2Flex {
    display: flex;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 768px) {
  .contenedor2Flex {
    display: flex;
    flex-wrap: wrap;
  }
  .titulodeContacto {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
}
/**aca terminan los estilos del formulario**/
/**footer**/
footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.logo2 {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 5px;
}

.logo3 {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 5px;
}

.copyright {
  text-align: center;
  font-size: 13px;
  border-top: 1px solid #ffffff;
  padding: 3px 0px 3px 0px;
}

@media screen and (max-width: 768px) {
  footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/**PÁGINA SOBRE MI**/
/**contenedor grid 3**/
.grid3 {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "gridItem1 gridItem3" "gridItem2 gridItem3";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 268px 2fr;
  align-items: center;
}
.grid3 .gridItem1 {
  display: flex;
  grid-area: gridItem1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.grid3 .gridItem1 .SubtituloSobremi {
  padding: 25px;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 25px;
}
.grid3 .gridItem2 {
  grid-area: gridItem2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.grid3 .gridItem2 .parrafoSobremi2 {
  margin-bottom: 2rem;
}
.grid3 .gridItem3 {
  grid-area: gridItem3;
  display: flex;
  justify-content: center;
}
.grid3 .gridItem3 .miFoto {
  border-radius: 20px;
  width: 380px;
}

.boton5 {
  display: flex;
  padding: 15px;
  justify-content: center;
  background-color: darkmagenta;
  font-size: 30px;
}

/**grid4**/
.grid4 {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "especialidades frase";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.especialidades {
  grid-area: especialidades;
  display: flex;
  flex-direction: column;
}

.frase {
  grid-area: frase;
  display: flex;
  justify-content: flex-start;
}

.fotoFrase {
  width: 369px;
  height: 580px;
  border-radius: 30px;
}

h3 {
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .grid4 {
    display: grid;
    grid-template-areas: "especialidades" "frase";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
  }
}
@media screen and (max-width: 425px) {
  .grid4 {
    display: grid;
    grid-template-areas: "especialidades" "frase";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
  }
}
/**aca termina la pagina sobre mi **/
/**estilos de items descriptivos de la modalidad de los cursos**/
/**pagina de cursos**/
.prueba {
  min-height: 50vh;
  display: flex;
  background-color: darkmagenta;
  padding: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.prueba .conteinerCurso {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.prueba .conteinerCurso h1 {
  text-align: center;
}
.prueba .conteinerCurso p {
  font-size: 25px;
}

.DescripciondelCurso {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}
.DescripciondelCurso ul {
  list-style-type: none;
}
.DescripciondelCurso .parrafodelaDescripcion {
  font-size: 35px;
  padding: 20px;
}
.DescripciondelCurso .iconosDedescripcion {
  width: 50px;
  height: 50px;
  padding: 10px;
}
.DescripciondelCurso .textoDescripcion {
  font-size: 20px;
}

/**pagina de recursos gratis**/
.aprendeGratis {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.aprendeGratis h1 {
  padding-top: 30px;
}
.aprendeGratis p {
  font-size: 150%;
  padding: 2px;
}

.contenedorAprendeGratis1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
}
.contenedorAprendeGratis1 .aprende1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.contenedorAprendeGratis1 .aprende1 .boton-aprende-gratis {
  color: #ffffff;
  padding: 10px;
  margin: 5px;
  background-color: #453f3f;
  border: 2px solid rgba(88, 79, 86, 0.77);
  font-weight: bold;
  font-size: 15px;
  border-radius: 17px;
}
.contenedorAprendeGratis1 .aprende1 .fotodeRecursos {
  width: 330px;
  height: 300px;
  border-radius: 30px;
}
.contenedorAprendeGratis1 .aprende1 p {
  font-size: 15px;
  padding-top: 10px;
}
.contenedorAprendeGratis1 .aprende2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.contenedorAprendeGratis1 .aprende2 .boton-aprende-gratis {
  color: #ffffff;
  padding: 10px;
  margin: 5px;
  background-color: #453f3f;
  border: 2px solid rgba(88, 79, 86, 0.77);
  font-weight: bold;
  font-size: 15px;
  border-radius: 17px;
}
.contenedorAprendeGratis1 .aprende2 .fotodeRecursos {
  width: 330px;
  height: 300px;
  border-radius: 30px;
}
.contenedorAprendeGratis1 .aprende2 p {
  font-size: 15px;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .contenedorAprendeGratis1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .contenedorAprendeGratis1 .aprende1 {
    padding: 20px;
  }
}
@media screen and (max-width: 425px) {
  .contenedorAprendeGratis1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .contenedorAprendeGratis1 .aprende2 {
    padding: 20px;
  }
}
/*pagina de contacto*/
.contenedor-contacto {
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-contacto h1 {
  font-size: 50px;
  font-weight: bold;
}
.contenedor-contacto p {
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
