/** Página del index **/

$color-Principal:darkmagenta;
$color-principal-parrafos: #fff;
$tamaño-principal-parrafos:25px;
$borde-principal-card: 30px;
@import "./componentes/nav";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
    color: aliceblue;
  }


  /** aca comienza la nav**/
  .contenedorHeader {
    display: grid;
    grid-template-areas: "itemNav1 itemNav2";
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    align-items: center;
    border-bottom: 1px solid #ffffff;
    position: sticky;
    top: 0;
    .logo1 {
        width: 100px;
        height: 100px;
        margin: 0px 0px 0px 30px;
        display: flex;
      }
      .itemNav1 {
        grid-area: itemNav1;
      }
      .itemNav2 {
        grid-area: itemNav2;
        display: flex;
        list-style-type: none;
        justify-content: center;
        align-content: center;
      }
    }
  
  @media screen and (max-width: 768px) {
    .contenedorHeader {
      display: grid;
      grid-template-areas:
        "itemNav1"
        "itemNav2";
      grid-template-columns: 100%;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #ffffff;
      position: sticky;
      top: 0;
    }
  
    .itemNav1 {
      grid-area: itemNav1;
      display: flex;
      justify-content: center;
    }
  
    .logo1 {
      margin: 0px;
    }
    .itemNav2 {
      grid-area: itemNav2;
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-content: center;
      height: 50px;
    }
  
    nav ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      justify-content: center;
    }
  }

  nav 
     ul {
      list-style-type: none;
       display: flex;
       justify-content: space-around;
        width: 70%; 
           li {color: #ffffff;
            a { 
           &:hover {color:darkmagenta;
           }
        }
     }
    }

  /**contenedor grid 1**/
  .grid1 {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
      "item1 item2"
      "item item2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 163px 1fr;
    align-items: center;
    justify-items: center;
    .item1 {
      grid-area: item1;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
      justify-content: center;
  
  }
  
  /**Hijos item de la grid1**/
  .item1 {
    grid-area: item1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
  .item {
    grid-area: item;
  }
  .item2 {
    display: flex;
    grid-area: item2;
    justify-content: center;
  }
  
  .miFoto {
    border-radius: 20px;
    width: 380px;
  }
  .parrafoSobremi {
    padding: 30px;
    line-height: 1.6rem;
  }
  
  /** esta es la queries del grid1**/
  @media screen and (max-width: 768px) {
    .grid1 {
      grid-template-areas:
        "item1"
        "item"
        "item2";
      grid-template-columns: 80%;
      justify-content: space-around;
      justify-items: stretch;
     
    }
  
    .miFoto {
      width: 270px;
      height: 270px;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 450px) {
    .grid1 {
      grid-template-areas:
        "item1"
        "item"
        "item2";
      grid-template-columns: 80%;
      justify-content: space-around;
      justify-items: stretch;
     
    }
  }
  
  /**contenedor grid 2**/
  .grid2 {
    min-height: 100vh;
    grid-template-areas:
      "itemdelSubtitulo1"
      "contenedor1Flex";
    display: grid;
    align-items: center;
    justify-items: center;
  }
  
  .itemdelSubtitulo1 {
    grid-area: itemdelSubtitulo1;
    font-size: 50px;
  }
  
  .contenedor1Flex {
    grid-area: contenedor1Flex;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .itemdelSubtitulo2 {
    grid-area: itemdelSubtitulo2;
    font-size: 50px;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .tituloPrincipal {
    text-align: center;
    font-size: 40px;
  }
  .subTituloprincipal {
    text-align: center;
  }
  
  .subEncabezados {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
  }
  
  a {
    font-weight: bold;
    text-decoration: none;
    color: aliceblue;
  }
  
  .caja1,
  .caja2,
  .caja3 {
  
    width: 350px;
    height: 350px;
    background-color: #000000;
    margin: 33px;
    padding: 30px;
    border: 1px solid rgb(0, 0, 0);
    line-height: 1.6rem;
    box-shadow: rgba(67, 63, 66, 0.773) 0px 5px 15px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .caja1,
  .caja2,
  .caja3,
  p {
    text-align: center;
  }
  
  .boton__cajas {
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    background-color: #453f3f;
    border: 2px solid rgb(88 79 86 / 77%);
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 17px;
  }
  .caja1 img {
    width: 150px;
    height: 150px;
  }
  .caja2 img {
    width: 150px;
    height: 150px;
  }
  
  .caja3 img {
    width: 150px;
    height: 150px;
  }
  @media screen and (max-width: 768px) {
    .caja1,
    .caja2,
    .caja3 {
      /*
      width: 664px;
      height: 282px;
      */
      background-color: #000000;
      margin: 25px;
      padding: 5px;
      border: 1px solid rgb(0, 0, 0);
      line-height: 1.6rem;
      box-shadow: rgba(67, 63, 66, 0.773) 0px 5px 15px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 450px) {
    .caja1,
    .caja2,
    .caja3 {
        /**
      width: 681px;
      height: 404px;
       margin: 33px;
      **/
      background-color: #000000;
   
      border: 1px solid rgb(0, 0, 0);
      line-height: 1.6rem;
      box-shadow: rgba(67, 63, 66, 0.773) 0px 5px 15px;
      border-radius: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .boton__cajas {
      color: #f8f9fa;
      padding: 10px;
      margin: 5px;
      background-color: #453f3f;
      border: 2px solid rgb(88 79 86 / 77%);
      /*
      width: 265px;
      height: 67px;*/

      font-weight: bold;
      height: 67px;
      font-size: 30px;
      border-radius: 16px;
    }
    p {
      font-size: 25px;
      padding: 5px;
    }
  }
  /**aca comienzan los estilos del formulario**/
  
  .contenedor2Flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .contacto1 {
    width: 431px;
  }
  
  .titulodeContacto {
    font-size: 60px;
    font-family: "Fredoka One", cursive;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  
  div ul li {
    padding: 10px;
    font-weight: bold;
  }
  
  fieldset {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    flex-direction: column;
    background-color: #000000;
    margin: 30px;
    border: 2px solid rgb(0, 0, 0);
  }
  
  .formulario1 {
    width: 431px;
  }
  .cajadelFormulario {
    width: 300px;
    height: 32px;
    border-radius: 18px;
  }
  
  .nombresdelFormulario {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
  
    font-family: "Montserrat", sans-serif;
  }
  
  .cajadeComentario {
    height: 104px;
    width: 300px;
    border-radius: 32px;
  }
  
  .boton {
    color: #ffffff;
    padding: 10px;
    margin: 5px;
    background-color: #453f3f;
    border: 2px solid rgb(88 79 86 / 77%);
    width: 124px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 17px;
  }
  
  .boton:hover {
    background-color: #991d50;
    color: #ffffff;
  }
  
  @media screen and (max-width: 768px) {
    .contenedor2Flex {
      display: flex;
      flex-wrap: nowrap;
    }
  }
  
  @media screen and (max-width: 768px) {
    .contenedor2Flex {
      display: flex;
      flex-wrap: wrap;
      /*
      width: 750px;
      */
    }
  }
  
  /**aca terminan los estilos del formulario**/
  /**footer**/
  footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }
  
  .logo2 {
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
  }
  
  .logo3 {
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
  }
  
  .copyright {
    text-align: center;
    font-size: 13px;
    border-top: 1px solid #ffffff;
    padding: 3px 0px 3px 0px;
  }
  @media screen and (max-width: 768px) {
    footer ul {
        /*
      width: 713px; */

      display: flex;
      list-style-type: none;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  
  /**PÁGINA SOBRE MI**/
  
  /**contenedor grid 3**/
  .grid3 {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
      "gridItem1 gridItem3"
      "gridItem2 gridItem3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 268px 2fr;
    align-items: center;
  }
  
  .gridItem1 {
    display: flex;
    grid-area: gridItem1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .gridItem2 {
    grid-area: gridItem2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .gridItem3 {
    grid-area: gridItem3;
    display: flex;
    justify-content: center;
  }
  .SubtituloSobremi {
    padding: 25px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 25px;
  }
  
  .parrafoSobremi2 {
    margin-bottom: 2rem;
    margin-left: 25px;
  }
  
  .boton5 {
    display: flex;
    padding: 15px;
    justify-content: center;
    background-color: darkmagenta;
    font-size: 30px;
  }
  
  /**grid4**/
  .grid4 {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "especialidades frase";
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  
  .especialidades {
    grid-area: especialidades;
    display: flex;
    flex-direction: column;
  }
  .frase {
    grid-area: frase;
    display: flex;
    width: 434px;
    justify-content: flex-start;
  }
  .fotoFrase {
    width: 369px;
    height: 580px;
    border-radius: $borde-principal-card;
  }
  h3 {
    padding: 15px;
  }
  /**aca termina la pagina sobre mi **/
  /**estilos de items descriptivos de la modalidad de los cursos**/
  .DescripciondelCurso {
    display: flex;
    /*
    width: 581px;
    height: 508px;
    */
    list-style-type: none;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  .iconosDedescripcion {
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  
  .textoDescripcion {
    font-size: 20px;
  }
  .parrafodelaDescripcion {
    font-size: 20px;
  }
  @media screen and (max-width: 768px) {
    .DescripciondelCurso {
      display: flex;
      /*
      width: 591px;
      height: 593px;
      */
      list-style-type: none;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: flex-end;
      justify-content: center;
    }
  }
  @media screen and (max-width: 450px) {
    .DescripciondelCurso {
      display: flex;
      /*
      width: 563px;
      height: 554px;
      */
      list-style-type: none;
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: flex-end;
    }
  }
  /**pagina de cursos**/
  .prueba {
    display: flex;
    background-color: darkmagenta;
    height: 297px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
     .conteinerCurso {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        p{
            font-size: $tamaño-principal-parrafos;
         }
    }
    
  }
  
  /**pagina de recursos gratis**/
  /**grid5**/
  
  .aprendeGratis {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    height: 300px;
      p{ font-size: $tamaño-principal-parrafos;}
  }
  
  .fotodeRecursos {
    width: 330px;
    height: 300px;
    border-radius: 30px;
  }
  .contenedorAprendeGratis1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 490px;
  }
  .aprende1 {
    display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      width: 387px;
      height: 389px;
  }
  .aprende2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 387px;
    height: 389px;
  }
  