/** Página del index **/

$color-Principal: #8b008b;
$color-principal-parrafos: #fff;
$tamaño-principal-parrafos: 25px;
$borde-principal-card: 30px;
@import "./componentes/nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: aliceblue;
}

.itemNav1 {
  background-color: #000000;
}



/** aca comienza la nav
.contenedorHeader {
  display: grid;
  grid-template-areas: "itemNav1 itemNav2";
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  position: sticky;
  top: 0;

  .logo1 {
    width: 100px;
    height: 100px;
    margin: 0px 0px 0px 30px;
    display: flex;
  }

  .itemNav1 {
    grid-area: itemNav1;
  }

  .itemNav2 {
    grid-area: itemNav2;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-content: center;
  }
}

@media screen and (max-width: 768px) {
  .contenedorHeader {
    display: grid;
    grid-template-areas:
      "itemNav1"
      "itemNav2";
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
    position: sticky;
    top: 0;
  }

  .itemNav1 {
    grid-area: itemNav1;
    display: flex;
    justify-content: center;
  }

  .logo1 {
    margin: 0px;
  }

  .itemNav2 {
    grid-area: itemNav2;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-content: center;
    height: 50px;
  }

  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
  }
}
**/

/*
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 70%;

  li {
    color: #ffffff;

    a {
      &:hover {
        color: darkmagenta;
      }
    }
  }
}*/

/**contenedor grid 1**/
.grid1 {
  min-height: 50vh;
  display: grid;
  grid-template-areas:
    "item1 item2"
    "item item2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 274px auto;
  align-items: center;
  justify-items: center;

  .item1 {
    grid-area: item1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .item {
    grid-area: item;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    .parrafoSobremiHome {
      padding: 20px;
      line-height: 1.6rem;
    }

    a {
      color: #ffffff;
      padding: 15px;
      margin: 20px;
      background-color: #8b008b;
      border: 2px solid rgba(88, 79, 86, 0.77);
      font-weight: bold;
      font-size: 15px;
      border-radius: 17px;

    }

    a:hover {
      background-color: rgb(7, 70, 70);
      color: #ffffff;
    }
  }

  .item2 {
    display: flex;
    grid-area: item2;
    justify-content: center;

    .miFoto {
      border-radius: 20px;
      width: 380px;
    }
  }
}

/** esta es la queries del grid1**/
@media screen and (max-width: 768px) {
  .grid1 {
    grid-template-areas:
      "item1"
      "item"
      "item2";
    grid-template-columns: 80%;
    justify-content: space-around;

  }
}

@media screen and (max-width: 450px) {
  .grid1 {
    grid-template-areas:
      "item1"
      "item"
      "item2";

    .parrafoSobremi {
      font-size: 15px;
    }

  }
}



/**contenedor grid 2**/
.grid2 {
  min-height: 100vh;
  grid-template-areas:
    "itemdelSubtitulo1"
    "contenedor1Flex";
  display: grid;
  align-items: center;
  justify-items: center;

  .itemdelSubtitulo1 {
    grid-area: itemdelSubtitulo1;
    font-size: 50px;
  }

}

.contenedor1Flex {
  grid-area: contenedor1Flex;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.itemdelSubtitulo2 {
  grid-area: itemdelSubtitulo2;
  font-size: 50px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.tituloPrincipal {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.subTituloprincipal {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.subEncabezados {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: aliceblue;
}

.caja1,
.caja2,
.caja3 {

  width: 350px;
  background-color: #000000;
  margin: 33px;
  padding: 30px;
  border: 1px solid rgb(0, 0, 0);
  line-height: 1.6rem;
  box-shadow: rgba(67, 63, 66, 0.773) 0px 5px 15px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}
/*
.caja1:hover {
  transform: scale(1, 1);
}

.caja1:hover {
  width: 400px;
  background-color: #7d7979;
}
*/
.caja1,
.caja2,
.caja3,
p {
  text-align: center;
}

.boton__cajas {
  color: #ffffff;
  padding: 10px;
  margin: 5px;
  background-color: $color-Principal;
  border: 2px solid rgb(88 79 86 / 77%);
  width: 150px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 17px;
}

.boton__cajas:hover {
  background-color: rgb(75, 10, 64);
  color: #ffffff;
}


.caja1 img {
  width: 150px;
  height: 150px;

}

.caja2 img {
  width: 150px;
  height: 150px;
}

.caja3 img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 768px) {

  .caja1,
  .caja2,
  .caja3 {
    background-color: #000000;
    margin: 25px;
    padding: 5px;
    border: 1px solid rgb(0, 0, 0);
    line-height: 1.6rem;
    box-shadow: rgba(67, 63, 66, 0.773) 0px 5px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {

  .caja1,
  .caja2,
  .caja3 {
    background-color: #000000;
    border: 1px solid rgb(0, 0, 0);
    line-height: 1.6rem;
    box-shadow: rgba(67, 63, 66, 0.773) 0px 5px 15px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p {
      font-size: 15px;
      padding: 5px;
    }
  }

  .boton__cajas {
    color: #f8f9fa;
    padding: 10px;
    margin: 5px;
    background-color: $color-Principal;
    border: 2px solid rgb(88 79 86 / 77%);
    font-weight: bold;
    font-size: 15px;
    border-radius: 16px;
  }

}

/**aca comienzan los estilos del formulario**/

.contenedor2Flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.titulodeContacto {
  font-size: 60px;
  font-family: "Fredoka One", cursive;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

div ul li {
  padding: 10px;
  font-weight: bold;
}

fieldset {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  flex-direction: column;
  background-color: #000000;
  margin: 30px;
  border: 2px solid rgb(0, 0, 0);
}

.formulario1 {
  width: 431px;
}

.cajadelFormulario {
  width: 300px;
  height: 32px;
  border-radius: 18px;
}

.nombresdelFormulario {
  font-size: 20px;
  font-weight: bold;
  padding: 15px;

  font-family: "Montserrat", sans-serif;
}

.cajadeComentario {
  height: 104px;
  width: 300px;
  border-radius: 32px;
}

.boton {
  color: #ffffff;
  padding: 10px;
  margin: 5px;
  background-color: #453f3f;
  border: 2px solid rgb(88 79 86 / 77%);
  width: 124px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 17px;
}

.boton:hover {
  background-color: $color-Principal;
  color: #ffffff;
  width: 200px;
  transition: all 3seg;
}

.boton:focus {
  width: 300px;

}

@media screen and (max-width: 768px) {
  .contenedor2Flex {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 768px) {
  .contenedor2Flex {
    display: flex;
    flex-wrap: wrap;
  }

  .titulodeContacto {
    display: flex;
    justify-content: center;
    font-size: 40px;
  }
}

/**aca terminan los estilos del formulario**/
/**footer**/
footer ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0rem;
}

.logo2 {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 5px;
}

.logo3 {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 5px;
}

.copyright {
  text-align: center;
  border-top: 1px solid #ffffff;
  padding: 3px 0px 3px 0px;
  margin: 0rem;
}

@media screen and (max-width: 768px) {
  footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/**PÁGINA SOBRE MI**/


.contenedor-sobremi {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;

  .contenedorhijo-sobremi1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .SubtituloSobremi {
      text-align: center;
    }
  }

  .contenedorhijo.sobremi2 {
    display: flex;
  }
}

.boton5 {
  display: flex;
  padding: 15px;
  justify-content: center;
  background-color: #8b008b;
  font-size: 30px;
}

/**grid4**/
.grid4 {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "especialidades frase";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.especialidades {
  grid-area: especialidades;
  display: flex;
  flex-direction: column;
}

.frase {
  grid-area: frase;
  display: flex;

  justify-content: flex-start;
}

.fotoFrase {
  width: 369px;
  height: 580px;
  border-radius: $borde-principal-card;
}

h3 {
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .grid4 {

    display: grid;
    grid-template-areas: "especialidades"
      "frase";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
  }

}

@media screen and (max-width: 425px) {
  .grid4 {

    display: grid;
    grid-template-areas: "especialidades"
      "frase";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
  }

}


/**aca termina la pagina sobre mi **/

/**estilos de items descriptivos de la modalidad de los cursos**/
/**pagina de cursos**/
.prueba {
  min-height: 50vh;
  display: flex;
  background-color: darkmagenta;
  padding: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  background: rgb(7, 70, 70);
  background: radial-gradient(circle, rgba(7, 70, 70, 1) 1%, rgba(0, 0, 0, 1) 100%, rgba(0, 14, 17, 1) 100%);

  .conteinerCurso {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    h1 {
      font-weight: bold;
      font-size: 2rem;

    }

    p {
      font-size: $tamaño-principal-parrafos;
    }
  }

}

.DescripciondelCurso {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;



  ul {
    list-style-type: none;
    padding: 0rem;
  }

  .parrafodelaDescripcion {
    font-size: 35px;
    padding: 20px;
  }

  .iconosDedescripcion {
    width: 50px;
    height: 50px;
    padding: 10px;
  }

  .textoDescripcion {
    font-size: 20px;
  }

}



/**pagina de recursos gratis**/

.aprendeGratis {
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(7, 70, 70);
  background: radial-gradient(circle, rgba(7, 70, 70, 1) 1%, rgba(0, 0, 0, 1) 100%, rgba(0, 14, 17, 1) 100%);

  h1 {

    font-weight: bold;
    font-size: 3rem;
  }

  p {
    font-size: 150%;
    padding: 2px;
  }
}



.contenedorAprendeGratis1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10rem;


  .aprende1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    .boton-aprende-gratis {
      color: #ffffff;
      padding: 10px;
      margin: 5px;
      background-color: $color-Principal;
      border: 2px solid rgb(88 79 86 / 77%);

      font-weight: bold;
      font-size: 15px;
      border-radius: 17px;

    }

    .fotodeRecursos {
      width: 330px;
      height: 300px;
      border-radius: 30px;
    }

    p {
      font-size: 15px;
      padding-top: 10px;
    }
  }

  .aprende2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    .boton-aprende-gratis {
      color: #ffffff;
      padding: 10px;
      margin: 5px;
      background-color: $color-Principal;
      border: 2px solid rgb(88 79 86 / 77%);

      font-weight: bold;
      font-size: 15px;
      border-radius: 17px;
    }

    .fotodeRecursos {
      width: 330px;
      height: 300px;
      border-radius: 30px;
    }

    p {
      font-size: 15px;
      padding-top: 10px;
    }

  }


}

@media screen and (max-width: 768px) {
  .contenedorAprendeGratis1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .aprende1 {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 425px) {
  .contenedorAprendeGratis1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .aprende2 {
      padding: 20px;
    }
  }
}

/*pagina de contacto*/

.contenedor-contacto {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgb(7, 70, 70);
  background: radial-gradient(circle, rgba(7, 70, 70, 1) 1%, rgba(0, 0, 0, 1) 100%, rgba(0, 14, 17, 1) 100%);

  h1 {
    font-size: 50px;
    font-weight: bold;
  }

  p {
    font-size: 30px;
  }

}