 /** aca comienza la nav**/
 .contenedorHeader {
  display: flex;
    border-bottom: 1px solid #ffffff;
    position: sticky;
    top: 0;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000000;
    .logo1 {
      width: 100px;
      margin: 0px 0px 0px 30px;
      display: flex;
    }
    }
    .itemNav1 {
      background-color: #000000;
    }
   